<%= form_with(model: @rsvp, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :users_id %>

    <%= f.collection_select :users_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :events_id, value: @event.id %>

  <div class="form-group">
    <%= f.label :response %>

    <%= f.text_field :response, class: "form-control" %>
  </div>

  <%= f.submit "Create rsvp", class: "btn btn-block btn-outline-secondary" %>
<% end %>
