<!-- Form rsvp start -->
<%= form_with(model: @rsvp, local: true) do |f| %>
<!-- Form rsvp end -->

  <!-- Label and input for users_id start -->
  <div class="form-group">
    <%= f.label :users_id %>

    <!-- Input for users_id start -->
    <%= f.collection_select :users_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for users_id end -->
  </div>
  <!-- Label and input for users_id end -->

  <!-- Label and input for events_id start -->
  <!-- Input for events_id start -->
  <%= f.hidden_field :events_id, value: @event.id %>
  <!-- Input for events_id end -->
  <!-- Label and input for events_id end -->

  <!-- Label and input for response start -->
  <div class="form-group">
    <%= f.label :response %>

    <!-- Input for response start -->
    <%= f.text_field :response, class: "form-control" %>
    <!-- Input for response end -->
  </div>
  <!-- Label and input for response end -->

  <%= f.submit "Create rsvp", class: "btn btn-block btn-outline-secondary" %>
<% end %>
